body{
  background: #e0e0e0;
}



.converter{
  padding-left: 10px;
  padding-right: 10px;
}

.converter-showcase{
  height: 400px;
  background-color: #36393e;
  position: relative;
}

.card{
  position: absolute;
  left: 63px;
  top:328px;
  border-radius: 19px;
  box-shadow:0px 21px 37px -30px;
  border:none
}

.converter-form input{
  background:#eff0f0;
  border-color: #eff0f0;
  padding: 7px 0 7px 7px;
  /* border-radius: 7px; */
  color: #2e2f30;
  cursor: pointer;

}

.converter-form .input-group input{
  border-radius: 7px 0 0 7px;
}
.output-area{
  min-height: 100vh;
  background: #eef4f7;
}

.lorem{
  font-family: "Inv Eina 03", "Eina 03", -apple-system, BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
  font-weight: bold;
  padding-top: 100px; 
  padding-left:50px
}

label{
  font-size: 13px;
}

.brand{
  font-size: 43px;
  padding-left: 50px;
  padding-top: 26px;
  font-weight: 600
}

.input-group-text{
  border-color: #eff0f0;
  /* border-radius: 0 7px 7px 0; */

  background: #eff0f0
  
}

.input-group-prepend{
  border-radius: 8px;
}

.history-link{
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  color: black
}

a:hover{
  color: inherit;
  text-decoration: none
}

.history{
  height: 100vh;
  background-color: #36393e;

}


.responsive-table li {
  border-radius: 16px;
  padding: 20px 81px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #36393e;
  font-size: 13px;
  color: #898c91;
  margin-bottom: 0;
}
.responsive-table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}


@media(max-width:765px){
  .calculation{
      margin-top:250px;
  }
}